
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="flex items-center text-sm font-bold h-full">
        {% if user.is_authenticated %}
        <li class="nav_link"><a href="{% url "users:logout" %}">Log Out</a></li>
        {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}">Log In</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}">Sign Up</a></li>

        {% endif %}
        
    </ul>
</body>
</html>